<?xml version="1.0"?>

<model>
  <name>Uneven Surface</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Ashish Kumar</name>
    <email>ashish.kumar@offworld.ai</email>
  </author>

  <description>
    An uneven surface to create a realistic mine.
  </description>
</model>
