*.pyc
logs/
.vscode
*.egg-info/
*.html
catkin_ws/build
catkin_ws/devel
catkin_ws/install
assets/catkin
offworld_gym/envs/gazebo/catkin_ws
scripts/gymshell.sh
models/
*.h5f
*.obj
*.shelve
*.dill
docs/_build

